.NoteDetail {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 80%;
  display: flex;
  flex-direction: column;
}

.NoteDetail .NoteDetailHead {
  border-bottom: solid 1px black;
  padding: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.NoteDetail .NoteDetailHead .NoteDetailHeadTitle {
  flex-grow: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.NoteDetail .NoteDetailHead .NoteDetailCloseButton {
  display: none;
}

.NoteDetail .TexteditorPlain {
  flex-grow: 1;
  border: none;
  outline: none;
  margin: 1em;
}

.NoteDetail .w-md-editor {
  flex-grow: 1;
}

@media (max-width: 768px) {
  .NoteDetail .NoteDetailHead .NoteDetailCloseButton {
    display: block;
  }

  .NoteDetail .TexteditorPlain {
    top: 40px;
    font-size: 1.5em;
  }
}


/* .NoteDetail .w-md-editor,
.NoteDetail .wmde-markdown {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
} */
