.TodoEditor {
  padding: 1em;
}

.TodoEditor .Todo {
  padding: 0.5em;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.TodoEditor .Todo.Todo-Done {
  text-decoration:line-through;
}

.TodoEditor .Todo:nth-child(even) {
  background-color: #f4f4f4;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.TodoEditor .Todo label {
  flex-grow: 1;
}

.TodoEditor .Todo button {
  border: none;
  outline: none;
  background: none;
  color: black;
}

.TodoEditor .Todo input {
  margin-right: 0.25em;
}
